<section class='fts fts-introduction'>
  <div class='fts fts-chapter chapter-1'>
    <div class='fts-introduction-statement'>
      <%= open_table_wrapper %>
        <div class='w1000'> 
          <h1>Hi I'm Neil</h1>
          <p>I'm currently a web developer at Conover Tuttle Pace right up Memorial Drive in the North end. In my 2.5 years there I've worked on projects for the likes of Assembly Row, Boston Boot Co. and Red Hat.</p>
        </div>
        <%= close_table_wrapper %>
    </div>
    <figure class='fts-introduction-figure'>
      <div class='w1200'>
        <%= image_tag 'avatar.svg', :class => 'fts-image fts-avatar' %>
      </div>
    </figure>
  </div>

  <div class='fts fts-chapter chapter-2'>
    <div class='w1200'>
      <div class='chapter-two-statement'>
        <%= open_table_wrapper %>
          <h1>Small Groups = Big Influence</h1>
          <p>What I've liked best about working on a very small team is that it's given me the opportunity to influence significant change. Within a few months of joining CTP, I advocated that responsive web design techniques become standard in our process. Shortly after I built our first Rails/Backbone application. 
          </p>

        <%= close_table_wrapper %>
      </div>

      <div class='fts-chapter-stretcher'>
        <%= open_table_wrapper %>
          <%= render 'line_animations/responsive' %>
        <%= close_table_wrapper %>
      </div>
    </div>
  </div>

  <div class='fts fts-chapter chapter-3'>
    <%= open_table_wrapper %>
      <div class='w1200'>
        <ul class='process-icons'>
          <li><span class='process-icon design-thinking'></span></li>
          <li><span class='process-icon concept'></span></li>
          <li><span class='process-icon prototype'></span></li>
          <li><span class='process-icon validation'></span></li>
          <li><span class='process-icon learning'></span></li>
          <li><span class='process-icon support'></span></li>
        </ul>

        <div class='chapter-three-statement'>
          <h1>Measure Twice, Cut once</h1> 
          <div class='columns'>
            <p>You can guarantee failure by never actually defining what success is for a project.  Fresh Tilled Soil truly values the planning and objectives phase allowing you to develop relationships with clients that actually want to be your partner, not just your boss. It can be difficult to explain to clients the merit in the exploratory, soul-searching phase of a project but the fact that Fresh Tilled Soil takes the time to do this is apparent in the work you produce. </p>

            <p>It's also refreshing that Fresh Tilled Soil includes developers early in the process. Devs understand the limitations and possibilities of the technology best, so involving them throughout the process leads to better results. Collaborating with designers and planners to bring something new into the world is one of the most rewarding aspects of my job. </p>
          </div>
        </div>
      </div>
    <%= close_table_wrapper %>
  </div>

  <div class='fts fts-chaper chapter-4'>
    <div class='w1200'>
      <%= open_table_wrapper %>
        <div class='chapter-four-statement'>
          <h1>Take a penny, leave a penny.</h1>
          <p>Our industry is a truly amazing space to work in. So much knowledge is being constantly shared at no cost. This very site is built on the backs of countless people who pour their hearts into pushing the web forward. Fresh Tilled Soil's contributions to the community exhibit an awareness of the exchange that has made this industry so great to be a part of. I'd love to work with this team to give back to the community that has given so much to me. </p>
        </div>

        <div class='chapter-four-figure'>
          <div class='heart'></div>
        </div>
      <%= close_table_wrapper %>
    </div>
  </div>

  <div class='fts fts-chapter chapter-5'>
    <%= open_table_wrapper %> 
      <div class='w800'>
        <div class='chapter-five-statement'>
          <h1 class='sentence'>
            <span class='sentence-frag fts'>FTS</span>
            <span class='sentence-frag plus'>+</span>
            <span class='sentence-frag neil'>Neil</span>
            <span class='sentence-frag equals'>=</span>
            <span class='sentence-frag dollars'>$</span>
            <span class='sentence-frag happy'><span class='face'>:)</span></span>
          </h1>

          <p>Thanks for taking the time to read a bit about my background and why I'm so passionate about this position. You can see some of my work and download my resume <a href='/'>here</a>. You can contact me at <a href='mailto:nvolungis@gmail.com'>nvolungis@gmail.com</a> or (508) 843-9014.</p>

        </div>

      </div>
    <%= close_table_wrapper %>
  </div>
</section>

