<section class='fts fts-introduction'>
  <div class='fts fts-chapter chapter-1'>
    <div class='fts-introduction-statement'>
      <%= open_table_wrapper %>
        <div class='w1000'> 
          <h1>Hi I'm Neil</h1>
          <p>I'm currently a web developer at Conover Tuttle Pace right up Memorial Drive in the North end. In my 2.5 years there I've worked on projects for the likes of Assembly Row, Boston Boot Co. and Red Hat.</p>
        </div>
        <%= close_table_wrapper %>
    </div>
    <figure class='fts-introduction-figure'>
      <div class='w1200'>
        <%= image_tag 'avatar.svg', :class => 'fts-image fts-avatar' %>
      </div>
    </figure>
  </div>

  <div class='fts fts-chapter chapter-2'>
    <div class='w1200'>
      <div class='chapter-two-statement'>
        <%= open_table_wrapper %>
          <h1>Small Groups = Big Influence</h1>
          <p>What I've liked best about working on a very small team is that it's given me the opportunity to influence significant change. Within a few months of joining CTP, I advocated that responsive web design techniques become standard in our process. Shorly after I built our first Rails/Backbone application.

        <%= close_table_wrapper %>
      </div>

      <div class='fts-chapter-stretcher'>
        <%= open_table_wrapper %>
          <%= render 'line_animations/responsive' %>
        <%= close_table_wrapper %>
      </div>
    </div>
  </div>

  <div class='fts fts-chapter chapter-3'>
    <%= open_table_wrapper %>
      <div class='w1200'>
        <ul class='process-icons'>
          <li><span class='process-icon design-thinking'></span></li>
          <li><span class='process-icon concept'></span></li>
          <li><span class='process-icon prototype'></span></li>
          <li><span class='process-icon validation'></span></li>
          <li><span class='process-icon learning'></span></li>
          <li><span class='process-icon support'></span></li>
        </ul>

        <div class='chapter-three-statement'>
          <h1>Measure Twice, Cut once</h1> 
          <div class='columns'><p>The first way to guarentee failure is to never identify what success actually is. Fresh Tilled Soil differentiates itself by giving extraordinary attention to the planning and objectives phase. Sometimes it's diffucult to convince a client that that exploratory, soul searching phase is important, but FTS define's itself by it's importance. This allows you to work with clients that actually want to be your partner, not just your boss.</p>

            <p> It's also refreshing to see that FTS has learned that including developers early in the process leads to better results. One of my favorite parts of being a web developer is collaborating with designers and planners to bring something new into the world. Devs know the limitations and possibilities of the technology the best, and leveraging that knowledge leads to the best results.
          </div>
        </div>
      </div>
    <%= close_table_wrapper %>
  </div>

  <div class='fts fts-chaper chapter-4'>
    <div class='w1200'>
      <%= open_table_wrapper %>
        <div class='chapter-four-statement'>
          <h1>Take a penny, leave a penny.</h1>
          <p>Our industry is an amazing, unique place to work. So much knowledge is readily shared for little or no money. This very site is built on the backs of countless people who pour their hearts into pushing the web forward. FTS's contributions to the community exhibit an awareness of the give and take that has made this industry so great to be a part of.</p>
        </div>

        <div class='chapter-four-figure'>
          <div class='heart'></div>
        </div>
      <%= close_table_wrapper %>
    </div>
  </div>

  <div class='fts fts-chapter chapter-5'>
    <%= open_table_wrapper %> 
      <div class='w1200'>
        <div class='chapter-five-statement'>
          <h1>
            <span class='sentence-frag fts'>FTS</span>
            <span class='sentence-frag plus'>+</span>
            <span class='sentence-frag neil'>Neil</span>
            <span class='sentence-frag equals'>=</span>
            <span class='sentence-frag dollars'>$</span>
            <span class='sentence-frag happy'><span class='face'>:)</span></span>
          </h1>
           <p>Thanks for checking out out my page. <br />You can see some of my work and download my resume <a href='/'>Here</a>. </p>

          <p></p>
        </div>

      </div>
    <%= close_table_wrapper %>
  </div>
</section>

