<!DOCTYPE html>
<html>
<head>
  <title>Neil Volungis - Boston Web Developer</title>
  <meta name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "project/skrollr", data: { 'skrollr-stylesheet' =>  '' } %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "vendor/skrollr.stylesheets" %>
<%= javascript_include_tag "application" %>
</body>
</html>
